<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="main">

  <ion-card>
    <ion-button id="open-modal" expand="block">Nuevo usuario</ion-button>
    <ion-list>
      <ion-item *ngFor="let user of users" slot="end">
    
            {{user.mail}}
    
            <ion-badge 
            slot="end" 
            [ngClass]="user.state" >
              {{user.state}}
            </ion-badge>
           
      </ion-item>
    </ion-list>
  </ion-card>



<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Registro de usuario</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Mail</ion-label>
        <ion-input type="text" placeholder="Ingrése mail" [(ngModel)]="userMail"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
